/* app.scss */
// Need to compile down to app.css
//
// === COLORS ===
// $GVBLUE: #0097c7cc;
// $GVBLUE-DARK: #0D546B;
$GVBLUE-DARK-T: #0D546Bcc;
$GVBLACK: rgba(0, 0, 0, 0.8);
$GVWHITE-OFF: #f1f1f1;
$GVRED: #d32f2f;
$GVBLUE-BRIGHT: #1a87ab;
$GVPURPLE: #864cb3db;
$GVPURPLE-DARK: #5e258adb;
$GVPURPLE-GRAD: #050015b3;
$GVPURPLE-BRIGHT: #8336bfdb;

body, html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background: linear-gradient(
  rgba(255, 0, 0, 0.0),
  $GVPURPLE-GRAD
  ), url('../img/peanuts.jpg') no-repeat fixed center center;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  > .container {
    flex: 1 0 auto;
  }
}

.bg-container {
  width: 100%;
  height: 100%;
  display: inline-table; // fix collapsing margin
  background: $GVWHITE-OFF;
}

button, input[type="submit"], .btn {
  font-size: 1.5rem !important;
  color: white;
  background: $GVPURPLE;
  box-shadow: none;
  border-radius: 2px;

  &:hover {
    background: $GVPURPLE-DARK;
  }
}

.tabs {
  li.indicator {
    padding-bottom: 0;
  }
}

span.talent {
  font-weight: bold;
}

p.rating {
  // color: #888888;
  color: $GVBLUE-BRIGHT;
}

// Navigation
nav {
  box-shadow: none;
  background-color: $GVPURPLE-DARK;

  .brand-logo {
    font-family: 'Roboto Slab', Helvetica, sans-serif;
    margin-left: 1rem;
  }
}

ul.sidenav {
  li {
    h1, h2, h3, h4, h5, h6 {
      padding: 0 32px;
    }

    &:first-child {
      background: $GVPURPLE-BRIGHT;
      color: white;
      padding: 1rem 0;
    }
  }
}

footer.page-footer {
  margin-top: -6px;
}

// Container override for main webapp pages
.container.app-main {
  height: 100%;
  width: 100%;
  display: inline-block; // fix collapsing margin

  .mdl-page {
    height: 100%;
    width: 100%;
    margin-bottom: 0;
  }
}

// === CUSTOM PAGE OVERRIDES ===
form#survey, form#create_event {
  text-align: left;

  input#adrenaline {
    position: static;
    opacity: 1;
    vertical-align: middle;
    pointer-events: all;
  }

  input#location {

  }
}

// Form override
form {
  display: flex;
  flex-direction: column;
  align-items: center;

  [type="checkbox"]+span:not(.lever) {
    font-size: .8rem;
  }

  li {
    padding-bottom: 0;
  }
}

.card.horizontal {
  .card-image {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.mdl-modal {
  background-color: #ffffffe8;
  width: 70%;
  border-radius: 4px;
  padding: 2rem 2rem 4rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;

  h1,h2,h3,h4,h5,h6,p,label {
    color: $GVBLACK !important;
  }
}

.mdl-page {
  background: $GVWHITE-OFF;
  color: #000;
}

// Home page panel
.panel-wrapper {
  // overflow: hidden !important;
  &.index {
    margin-bottom: 0;
  }

  .error {
    background: $GVRED;
    border-radius: 2px;
    padding: 0.5rem 1rem;
  }

  .panel {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    // position: absolute;
    height: 100vh;
    overflow: hidden;
    margin: 0;

    .title {
      color: white;
      font-family: 'Roboto Slab', Helvetica, sans-serif;
      font-size: 6rem;
    }

    .subtitle {
      color: white;
      font-size: 2rem;
      padding: 1rem 0px;
      margin: 0;
    }

    h2, p, label {
      color: white;
    }

    h2 {
      font-size: 4rem;
      margin-bottom: 2.5rem;
    }

    p {
      font-size: 1.25rem;
    }

    .init-buttons {
      display: flex;
      align-self: center;
      flex-direction: row;
    }

    // Button overrides
    .login, .signin {
      font-size: 1.5rem;
      color: white;
      margin: 1rem;
      padding: .5rem 1.5rem;
      height: auto;
    }

    .login {
      background-color: $GVPURPLE;
      &:hover {
        background-color: $GVPURPLE-DARK;
      }
    }

    .signin {
      background-color: $GVBLACK;
      &:hover {
        background-color: black;
      }
    }
  }

  .panel-main {
    @extend .panel;
    justify-content: center;
  }
}

.search-button {
  padding: 5px 20px;
}

.results {
  text-align: left;
  margin-top: 100px;
}

li {
  list-style-type: none;
  padding-bottom: 25px;
}

// HIGHLIGHT FOR INTERESTS ON EVENTS PAGE
span.interest {
  background: $GVBLUE-BRIGHT;
  border-radius: 2px;
  color: white;
  padding: .25rem 1rem;
  // text-decoration-line: underline;
  // text-decoration-style: dotted;
}

// === MEDIA QUERIES FOR LARGE SCREEN ===
@media only screen and (max-width: 992px) {
  nav {
    .brand-logo {
      margin-left: 0;
    }
  }
}

// === MEDIA QUERIES FOR SMALL MOBILE SCREEN ===
@media only screen and (max-width: 600px) {
  nav {
    height: 128px;

    .brand-logo {
      line-height: 128px;
      font-size: 4rem;

      .sidenav-trigger {
        height: inherit;
        line-height: inherit;
        font-size: inherit;

        i {
          height: inherit;
          line-height: inherit;
          font-size: inherit;
        }
      }
    }
  }
}
