/* app.scss */
body, html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background: linear-gradient(rgba(255, 0, 0, 0), #050015b3), url("../img/peanuts.jpg") no-repeat fixed center center;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body > .container {
  flex: 1 0 auto;
}

.bg-container {
  width: 100%;
  height: 100%;
  display: inline-table;
  background: #f1f1f1;
}

button, input[type="submit"], .btn {
  font-size: 1.5rem !important;
  color: white;
  background: #864cb3db;
  box-shadow: none;
  border-radius: 2px;
}

button:hover, input[type="submit"]:hover, .btn:hover {
  background: #5e258adb;
}

nav {
  box-shadow: none;
  background-color: #5e258adb;
}

nav .brand-logo {
  font-family: 'Allerta Stencil', Helvetica, sans-serif;
  margin-left: 1rem;
}

ul.sidenav li h1, ul.sidenav li h2, ul.sidenav li h3, ul.sidenav li h4, ul.sidenav li h5, ul.sidenav li h6 {
  padding: 0 32px;
}

ul.sidenav li:first-child {
  background: #1a87ab;
  color: white;
  padding: 1rem 0;
}

footer.page-footer {
  margin-top: -6px;
}

.container.app-main {
  height: 100%;
  width: 100%;
  display: inline-block;
}

.container.app-main .mdl-page {
  height: 100%;
  width: 100%;
  margin-bottom: 0;
}

form#survey, form#create_event {
  text-align: left;
}

form#survey input#adrenaline, form#create_event input#adrenaline {
  position: static;
  opacity: 1;
  vertical-align: middle;
  pointer-events: all;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form [type="checkbox"] + span:not(.lever) {
  font-size: .8rem;
}

form li {
  padding-bottom: 0;
}

.card.horizontal .card-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mdl-modal {
  background-color: #ffffffe8;
  width: 70%;
  border-radius: 4px;
  padding: 2rem 2rem 4rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
}

.mdl-modal h1, .mdl-modal h2, .mdl-modal h3, .mdl-modal h4, .mdl-modal h5, .mdl-modal h6, .mdl-modal p, .mdl-modal label {
  color: rgba(0, 0, 0, 0.8) !important;
}

.mdl-page {
  background: #f1f1f1;
  color: #000;
}

.panel-wrapper.index {
  margin-bottom: 0;
}

.panel-wrapper .error {
  background: #d32f2f;
  border-radius: 2px;
  padding: 0.5rem 1rem;
}

.panel-wrapper .panel, .panel-wrapper .panel-main {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.panel-wrapper .panel .title, .panel-wrapper .panel-main .title {
  color: white;
  font-family: 'Allerta Stencil', Helvetica, sans-serif;
  font-size: 6rem;
}

.panel-wrapper .panel .subtitle, .panel-wrapper .panel-main .subtitle {
  color: white;
  font-size: 2rem;
  padding: 1rem 0px;
  margin: 0;
}

.panel-wrapper .panel h2, .panel-wrapper .panel-main h2, .panel-wrapper .panel p, .panel-wrapper .panel-main p, .panel-wrapper .panel label, .panel-wrapper .panel-main label {
  color: white;
}

.panel-wrapper .panel h2, .panel-wrapper .panel-main h2 {
  font-size: 4rem;
  margin-bottom: 2.5rem;
}

.panel-wrapper .panel p, .panel-wrapper .panel-main p {
  font-size: 1.25rem;
}

.panel-wrapper .panel .init-buttons, .panel-wrapper .panel-main .init-buttons {
  display: flex;
  align-self: center;
  flex-direction: row;
}

.panel-wrapper .panel .login, .panel-wrapper .panel-main .login, .panel-wrapper .panel .signin, .panel-wrapper .panel-main .signin {
  font-size: 1.5rem;
  color: white;
  margin: 1rem;
  padding: .5rem 1.5rem;
  height: auto;
}

.panel-wrapper .panel .login, .panel-wrapper .panel-main .login {
  background-color: #864cb3db;
}

.panel-wrapper .panel .login:hover, .panel-wrapper .panel-main .login:hover {
  background-color: #5e258adb;
}

.panel-wrapper .panel .signin, .panel-wrapper .panel-main .signin {
  background-color: rgba(0, 0, 0, 0.8);
}

.panel-wrapper .panel .signin:hover, .panel-wrapper .panel-main .signin:hover {
  background-color: black;
}

.panel-wrapper .panel-main {
  justify-content: center;
}

.search-button {
  padding: 5px 20px;
}

.results {
  text-align: left;
  margin-top: 100px;
}

li {
  list-style-type: none;
  padding-bottom: 25px;
}

span.interest {
  background: #1a87ab;
  border-radius: 2px;
  color: white;
  padding: .25rem 1rem;
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    margin-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    height: 128px;
  }
  nav .brand-logo {
    line-height: 128px;
    font-size: 4rem;
  }
  nav .brand-logo .sidenav-trigger {
    height: inherit;
    line-height: inherit;
    font-size: inherit;
  }
  nav .brand-logo .sidenav-trigger i {
    height: inherit;
    line-height: inherit;
    font-size: inherit;
  }
}
