<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>

  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

  <!-- MATERIALIZE UI Framework -->
  <!-- Compiled and minified CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"
  <!-- Compiled and minified JavaScript -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
{% if request.path == "/login" or request.path == "/register" or request.path == "/" %}
	<body>
{% else %}
	<body style="background: #fff;">
{% endif %}
  <!-- Navigation Menu -->
  {% if current_user.is_authenticated or request.path == "/login" or request.path == "/register" %}
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <!-- Navigation -->
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">GoodViews</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          {% if current_user.is_authenticated %}
          <li><a href="/main">Home</a></li>
          <li><a href="logout">Logout</a></li>
          {% else %}
          <li><a href="/">Home</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      {% if current_user.is_authenticated %}
      <li><h5>Hello {{ current_user.username }}</h5></li>
      <li><a href="/main">Home</a></li>
      <li><a href="logout">Logout</a></li>
      {% else %}
      <li><a href="/">Home</a></li>
      {% endif %}
    </ul>
  </header>
  {% endif %}

  <!-- Main content -->
	<div class="container">
		{% block body %}{% endblock %}
	</div>

  <footer class="page-footer blue-grey darken-3">
    <div class="footer-copyright blue-grey darken-4">
      <div class="container">
        © 2018 Ivy Chen & Gregory Yap | TA Mentor: Kim Tao | COMS4111 Databases
        <a class="grey-text text-lighten-4 right" href="https://github.com/ivychen/goodviews">Github Project</a>
      </div>
    </div>
  </footer>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
