{% extends "base.html" %}
{% block title %} GoodViews {% endblock %}
{% block body %}

<h2>My Collections</h2>

<div class="row">
  <form method="POST" action="/create_collection" class="col s12">
    <div class="row review-form">
      <div class="input-field col s12">
        <input placeholder="Watchlist" value="Watchlist" id="collection" name="collection" type="text" class="validate">
        <label>Create Collection</label>
      </div>
      <button class="btn waves-effect waves-light red lighten-2" type="submit" name="create_collection">Create</button>
    </div>
  </form>
</div>

{% for collect_name, cuid in collections %}
<div class="card-panel deep-purple lighten-3 white-text">
  <table class="highlight responsive-table">
    <h4>{{collect_name}}</h4>
    <thead>
      <tr>
          <th>MOVIE</th>
          <th>YEAR</th>
      </tr>
    </thead>

    <tbody>
      {% for cname, cid, movie_name, movie_year in collection_movies %}
      {% if cname == collect_name and cid == cuid %}
      <tr>
        <td>{{movie_name}}</td>
        <td>{{movie_year}}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endfor %}

{% endblock %}
