{% extends "base.html" %}
{% block title %} GoodViews {% endblock %}
{% block body %}

<div class="row panel-wrapper index">
  <div class="col s12 panel-main">
    <h1 class='title'>GoodViews</h1>
    <p class='subtitle'>A cinema database and discussion platform</p>
    <div class="init-buttons">
      <a href="/login"><button class="login btn waves-effect waves-light">Login</button></a>
      <a href="/register"><button class="signin btn waves-effect waves-light">Register</button></a>
    </div>
  </div>
</div>
{% endblock %}
