{% extends "base.html" %}
{% block title %} GoodViews {% endblock %}
{% block body %}

<h2>Movies</h2>

<form method="POST" action="/main" class="col s12">
  <div class="row review-form">
    <div class="input-field col s12 hide">
      <input placeholder="True" id="search" name="search" type="text" class="validate">
      <label>Search?</label>
    </div>
    <div class="input-field col s4">
      <input placeholder="Title" id="search-title" name="mTitle" type="text" class="validate">
      <label>Search title</label>
    </div>
    <div class="input-field col s4">
      <input placeholder="Year" id="search-year" name="mYear" type="text" class="validate">
      <label>Search year</label>
    </div>
    <div class="input-field col s4">
      <input placeholder="Genre" id="search-genre" name="mGenre" type="text" class="validate">
      <label>Search genre</label>
    </div>
    <button class="btn waves-effect waves-light red lighten-2 btn-small" type="submit" name="search">Search Movies</button>
  </div>
</form>

<div>
  {% for mid, name, year, genre, runtime, overview in movies %}
  <div class="card">
    <div class="card-content">
      <!-- Modal trigger for writing review -->
      <a class="waves-effect waves-light btn-small modal-trigger write-review-trigger" href="#write-review-{{mid}}">Write Review</a>
      <!-- Modal trigger for adding to Collection -->
      <a class="waves-effect waves-light btn-small red lighten-2 modal-trigger write-review-trigger" href="#add-collect-{{mid}}">Add to Collection</a>
      <!-- Community Rating -->
      <p class="rating">Community Rating:
      {% for movie_rid, avg_rating in movie_ratings %}
        {% if movie_rid == mid %}
        {{ avg_rating }}
        {% endif %}
      {% endfor %}
      </p>
      <!-- Modal: Write Review -->
      <div id="write-review-{{mid}}" class="modal">
        <div class="modal-content">
          <h4>Write a Review for: {{ name }} ({{ year }})</h4>
          <form method="POST" action="/write_review" class="col s12">
            <div class="row review-form">
              <!-- Review: rid (hidden) -->
              <div class="input-field col s12 hide">
                <input value="{{ mid }}" id="rid-{{mid}}" name="rid" type="text" class="validate">
                <label for="rid-{{mid}}">rid</label>
              </div>
              <!-- Review: rating -->
              {% set vars = {'rate': 0, 'lastdate': None} %}
              {% for movieID, mRating, mText, mDate in user_movie_reviews %}
                {% if mid == movieID %}
                  {% if vars.update({'rate': mRating, 'lastdate': mDate}) %}{% endif %}
                {% endif %}
              {% endfor %}
              {% if vars.lastdate %}<p>Last Reviewed: {{ vars.lastdate }}{% endif %}
              <div class="input-field col s12">
                <select name="rating">
                  <option value="" disabled selected>Choose your rating</option>
                  <option value="1" {% if vars.rate == 1 %}selected="selected"{% endif %}>1</option>
                  <option value="2" {% if vars.rate == 2 %}selected="selected"{% endif %}>2</option>
                  <option value="3" {% if vars.rate == 3 %}selected="selected"{% endif %}>3</option>
                  <option value="4" {% if vars.rate == 4 %}selected="selected"{% endif %}>4</option>
                  <option value="5" {% if vars.rate == 5 %}selected="selected"{% endif %}>5</option>
                  <option value="6" {% if vars.rate == 6 %}selected="selected"{% endif %}>6</option>
                  <option value="7" {% if vars.rate == 7 %}selected="selected"{% endif %}>7</option>
                  <option value="8" {% if vars.rate == 8 %}selected="selected"{% endif %}>8</option>
                  <option value="9" {% if vars.rate == 9 %}selected="selected"{% endif %}>9</option>
                  <option value="10" {% if vars.rate == 10 %}selected="selected"{% endif %}>10</option>
                </select>
                <label>Rating</label>
              </div>
              <!-- Review: text -->
              <div class="input-field col s12">
                {% set vars = {'textPlaceholder': False} %}
                {% for movieID, mRating, mText, mDate in user_movie_reviews %}
                  {% if mid == movieID %}
                    {% if vars.update({'textPlaceholder': True, 'text': mText}) %}{% endif %}
                  {% endif %}
                {% endfor %}

                <textarea placeholder="{% if vars.textPlaceholder %}{{ vars.text }}{% endif %}" id="textarea-{{mid}}" name="text" class="materialize-textarea"></textarea>
                <label for="textarea-{{mid}}">Review</label>
              </div>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
              <button class="btn waves-effect waves-light" type="submit" name="write_review">Submit Review</button>
            </div>
          </form>
        </div>
      </div>
      <!-- Modal for Collections -->
      <div id="add-collect-{{mid}}" class="modal">
        <div class="modal-content">
          <h4>Add to Collection</h4>

          <form method="POST" action="/add_collection" class="col s12">
            <div class="row review-form">
              <!-- Booking (hidden) -->

              <p>Adding movie: {{name}} ({{year}})</p>

              <div class="input-field col s12 hide">
                <input value="{{ mid }}" id="mid-{{mid}}" name="movieID" type="text" class="validate">
                <label for="mid-{{mid}}">Movie ID</label>
              </div>

              <div class="input-field col s12">
                <select name="collection">
                  <option value="" disabled selected>Choose Collection</option>
                  {% for collect_name, collect_id in collections %}
                    <option value="{{collect_name}}">{{collect_name}}</option>
                  {% endfor %}
                </select>
                <label>Choose Colllection</label>
              </div>

            </div>
            <div class="modal-footer">
              <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
              <button class="btn waves-effect waves-light red lighten-2" type="submit" name="add_collection">Add to Collection</button>
            </div>
          </form>
        </div>
      </div>
      <h5>{{ name }} ({{ year }})</h5>
      <p>Genre: {{ genre }} | Runtime: {{ runtime }}min</p>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a class="active" href="#overview-{{mid}}">Overview</a></li>
        <li class="tab"><a href="#talent-{{mid}}">Talent</a></li>
        <li class="tab"><a href="#review-{{mid}}">Reviews</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="overview-{{mid}}">{{ overview }}</div>
      <div id="talent-{{mid}}">
        <h6>Cast and Crew</h6>
        <ul>
          {% for tid, tname, movieID, role in talent %}
            {% if movieID == mid %}
              <li><span class="talent">{{ tname }}</span> as {{ role }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div id="review-{{mid}}">
        <h6>Reviews</h6>
        {% for movieID, rating, review_text, review_date, review_username in movie_reviews %}
          {% if movieID == mid %}
          <div class="card-panel deep-purple">
            <p class="white-text">By <b>{{ review_username }}</b></p>
            <span class="white-text">Rating: {{ rating }} | Date: {{ review_date }}</span>
            <hr />
            <p class="white-text">{{ review_text }}</p>
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<!--
<form method="POST" action="/add">
  <p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form> -->

{% endblock %}
